<div id="accounts">
    <div id="form">
        <div class="logo">
            <img src="/assets/images/logo.png" alt="">
        </div>
        <form ngNativeValidate #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
            <div class="input-box">
                <label for="">Email</label>
                <input type="email" class="form-control" required name="email" (ngModel)="email" #email="ngModel">
            </div>

            <div class="input-box">
                <label for="">Password</label>
                <div class="password">
                    <input #passwordInput class="form-control" type="password" name="password" (ngModel)="password" #password="ngModel" required>
                    <button type="button" [hidden]="!passwordVisibility" (click)="hidePassword()"><mat-icon>visibility_off</mat-icon></button>
                    <button type="button" [hidden]="passwordVisibility" (click)="showPassword()"><mat-icon>visibility</mat-icon></button>
                </div>
                <span class="errors" *ngIf="wrongPassword">Wrong password</span>
            </div>

            <div id="errors" class="errors" *ngIf="serverError">An error has occurred. Please try again</div>

            <div class="button-box">
                <button [hidden]="loginProcess" type="submit">LOGIN</button>
                <button [hidden]="!loginProcess" disabled><img src="/assets/images/loader.gif" alt=""></button>
            </div>
        </form>
        <p>Not yet a user? <a [routerLink]="['/register']">Register</a></p>
    </div>
    <div id="bg"></div>
</div>