<div id="content">
    <h1>My Account</h1>
    <hr>
    <form ngNativeValidate #accountForm="ngForm" (ngSubmit)="updateAccount(accountForm.value)">
        <div class="row">
            <div class="col-md-6">
                <div class="input-box">
                    <label for="">First Name</label>
                    <input type="text" class="form-control" required [(ngModel)]="user.first_name" name="first_name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-box">
                    <label for="">Last Name</label>
                    <input type="text" class="form-control" required [(ngModel)]="user.last_name" name="last_name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-box">
                    <label for="">Email</label>
                    <input type="email" class="form-control" required [(ngModel)]="user.email" name="email">
                </div>
            </div>
        </div>
        <div class="button-box row">
            <div class="col-md-6">
                <button [hidden]="updateProcess" type="submit">UPDATE DETAILS</button>
                <button [hidden]="!updateProcess" disabled><img src="/assets/images/loader.gif" alt=""></button>
            </div>
        </div>
    </form>
</div>